name: Build Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm install

      # Step 4: Bundle the code into a zip
      - name: Bundle code into zip
        run: zip -r build.zip . 


      - name: New file in github repo
        run: mkdir TestFiles


      # Step 5: Code coverage report
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: zip
          path: TestFiles/ 
      - run: ls TestFiles

      # Step 6: Set up Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      # Step 7: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 8: Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/calculator-app:latest
